
@import "tailwindcss";


:root {
    --color-secondary: #364156;
    --color-third: #CDCDCD;
    --color-secondary-2: #DFF8EB;
    --color-alt: #214E34;
    --color-alt2: #04BF9D;
    --color-primary: #172026;
    --font-special: "Edu NSW ACT Hand Pre", cursive;
}

@theme {
    --color-secondary: #364156;
    --color-third: #CDCDCD;
    --color-secondary-2: #DFF8EB;
    --color-alt: #214E34;
    --color-alt2: #04BF9D;
    --color-primary: #172026;
}


body {
  background: #011638;
  color: #DFF8EB;
  font-family: Arial, Helvetica, sans-serif;
}
